<div class="row align-items-center justify-content-center mb-20 tab-fil-cont">

    <div class="col-md-6 m-mb-10 ult">
        <h3 class="font20 mb-0">{{reportName}} <span class="bolder"></span></h3>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end w-select ulf">
        <!-- Choose Dates Range -->
        <span class="ml-10">
            <nb-checkbox  >
                <p class="font12 bold m-0 mr-10">{{"Check to see New Onboarded Rider" | translate}}</p>
            </nb-checkbox>
        </span>
    </div>
</div>