<div class="card">
  <div style="float: left">
    <p-button icon="pi pi-home" (click)="goToHome()"
              label="Home"></p-button>
  </div>
  <p-steps [model]="integrationSteps" [readonly]="true" [activeIndex]="activeIndex"></p-steps>

  <p-card *ngIf="activeIndex === 0">

    <h6>Select Company:</h6>

    <p class="p-4">
      <ngx-type-ahead (send)="setCompany($event)" [basePath]="'auth'"
                      [filters]="{__only: ['name', 'id'], __company_id__all: true}"
                      [placeholder]="'Search company here'" [url]="'company'" (cleared)="clear('company')">
      </ngx-type-ahead>
    </p>
<br>
<br>

    <h6>Select Brand:</h6>

    <p class="p-4">
      <ngx-type-ahead (send)="setBrand($event)" [basePath]="'auth'"
                      [filters]="{__only: ['name', 'id'], __company_id__equal: this.selectedCompanyId}"
                      [placeholder]="'Search brand here'" [url]="'brand'" [disabled]="!selectedCompanyId"
                      (cleared)="clear('brand')">
      </ngx-type-ahead>
    </p>

    <div class="p-4 d-flex justify-content-end">
      <p-button icon="pi pi-arrow-right" (click)="enableIntegration()"
                label="Next"></p-button>
    </div>

  </p-card>

  <p-card *ngIf="activeIndex === 1">

    <div class="p-4 w-100">
      <div class="form form-horizontal row">

        <div class="form-group col-9 row no-gutters">
          <div class="col-3 align-self-center">
            <label>Brand Key</label>
          </div>

          <div class="col-9">
            <input [value]="brandApp?.brand_key" readonly size="large" pInputText>
          </div>

        </div>

        <div class="col-3">
          <p-button (click)="generateKey()">
            GENERATE KEY
          </p-button>
        </div>

      </div>

    </div>

    <div class="p-4 d-flex justify-content-end">
      <p-button icon="pi pi-arrow-left" (click)="previousStep(0)"
                label="Previous"></p-button>&nbsp;&nbsp;
      <p-button icon="pi pi-arrow-right" (click)="brandApp && brandApp.brand_key ? nextStep(2) :
                messageService.add({severity:'error', summary: 'error', detail: 'No key generated!'})"
                label="Next"></p-button>
    </div>

  </p-card>

  <p-card *ngIf="activeIndex === 2">
    <div class="p-4 w-100">
      <div class="form form-horizontal row">

        <div class="form-group col-4 row no-gutters">
          <div class="col-3 align-self-center">
            <label>Secret Key</label>
          </div>

          <div class="col-9">
            <input [value]="secretKey" readonly size="large" pInputText>
          </div>

        </div>

        <div class="form-group col-4 row no-gutters">
          <div class="col-3 align-self-center">
            <label>Access Key</label>
          </div>

          <div class="col-9">
            <input [value]="accessKey" readonly size="large" pInputText>
          </div>

        </div>

        <div class="col-3">
          <p-button (click)="generateAccessKey()">
            GENERATE KEYS
          </p-button>
        </div>
      </div>
    </div>

    <div class="p-4 d-flex justify-content-end">
      <p-button icon="pi pi-arrow-left" (click)="previousStep(1)"
                label="Previous"></p-button>&nbsp;&nbsp;
      <p-button icon="pi pi-arrow-right" (click)="secretKey && accessKey ? nextStep(3) :
                messageService.add({severity:'error', summary: 'error', detail: 'Generate both keys!!'})"
                label="Next"></p-button>
    </div>

  </p-card>

  <p-card *ngIf="activeIndex === 3">

    <h6 class="mb-5">Select outlet you want to enable integration</h6>

    <p-multiSelect [options]="outlets" placeholder="Select multiple outlets" optionLabel="name"
                   [showClear]="true" optionValue="id" [(ngModel)]="selectedOutlets"
                   [disabled]="outlets.length === 0" [optionDisabled]="'disable'"></p-multiSelect>

    <div class="p-4 d-flex justify-content-end">
      <p-button icon="pi pi-arrow-left" (click)="previousStep(2)"
                label="Previous"></p-button>&nbsp;&nbsp;
      <p-button (click)="saveIntegration()" label="Save"></p-button>
    </div>
  </p-card>
</div>
