<!-- <nb-card>
    <div class="row mt-10">
        <div class="col">
            <label>{{"Verification Partner" | translate}}</label>
            <nb-select placeholder="Select Verification Partner" fullWidth [(ngModel)]="docConfig.verification_partner">
                <nb-option [value]="docConfig.verification_partner">{{removeUnderScore(docConfig.verification_partner)}}</nb-option>
            </nb-select>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col">
            <label>{{"Verification Partner" | translate}}</label>
            <nb-select multiple placeholder="Select Docs" fullWidth (selectedChange)="getSelectedChange($event)">
                <nb-option *ngFor="let doc of docs" [value]="doc.doc">{{removeUnderScore(doc.doc)}}</nb-option>
            </nb-select>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col">
            <button nbButton status="primary" (click)="postDocVerifyData()">{{"Save" | translate}}</button>
        </div>
    </div>
</nb-card> -->
<table class="table">
    <thead>
    <tr style="border-style: hidden !important;">
      <th scope="col">Verification Partner</th>
      <th scope="col"> Set Document</th>
      <th scope="col"> Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>
        <nb-select class="w-90" [(ngModel)]="selectedVerificationObject" (ngModelChange)="setVerificationDocs()" placeholder="Set Verification">
          <nb-option *ngFor="let docConfig of docConfigRef" [value]="docConfig" [selected]="selectedVerificationObject === docConfig">
            {{ docConfig.verification_partner }}
          </nb-option>
        </nb-select>
      </th>
       <td>
         <nb-select class="w-90" [(ngModel)]="selectedVerificationDocs" placeholder="Set Document" [disabled]="selectedVerificationDocsRef.length === 0">
           <nb-option *ngFor="let doc of selectedVerificationDocsRef" [value]="doc.value" [disabled]="doc.disable">
             {{ doc.name }}
           </nb-option>
         </nb-select>

      </td>
      <td>
        <button nbButton type="button" class="p-button-success mr-2" (click)="saveDocConfig()" [disabled]="selectedVerificationDocsRef.length === 0 ||
                 selectedVerificationDocs.length === 0">SAVE</button>
      </td>
    </tr>
    </tbody>
  </table>
<p-table [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="large" [value]="savedDocConfigTableView" [resizableColumns]="true" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn>Verification Partner</th>
          <th pResizableColumn>Document</th>
          <th pResizableColumn>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-config>
        <tr>
          <td>{{config.verification_partner}}</td>
          <td>{{removeUnderScore(config.doc) | titlecase}}</td>
          <td>
            <button nbButton type="button" class="p-button-danger mr-2"
                      (click)="deleteDoc(config.doc, config.verification_partner)">Remove
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>



