<div class="content-section implementation p-fluid">
  <div class="card p-p-3">
    <div class="content-section introduction">

    </div>

    <p-table #dt [(selection)]="outlets" [globalFilterFields]="['brand_name','outlet_name','outlet_identity']"
             [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rows]="10" [value]="data" dataKey="id"
             styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm">

      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <div>
            Clients
          </div>
          <div class="flex">
            <button (click)="exportExcel()" class="p-button-success mr-2" icon="pi pi-file-excel" pButton pRipple pTooltip="XLS" tooltipPosition="bottom"
                    type="button"></button>
            <div style="float: right">
              <div>
                <button (click)="addPoc()"  class="p-button-outlined p-button-success mr-2" style="width: 115px;" pButton pRipple>Add POC</button>
<!--                <button (click)="logOut()"  class="p-button-outlined p-button-danger" style="width: 90px;margin-left: 10px" pButton pRipple>Logout</button>-->
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Boarding Date</th>
          <th>Time</th>
          <th>Company</th>
          <th>Status</th>
          <th>Payment</th>
          <th>Orders</th>
          <th>Total Rider</th>
          <th>Active Rider</th>
          <th>Not Active Rider</th>
          <th>Sale POC Name & Number</th>
          <th>Support POC Name & Number</th>
          <th>Action</th>

        </tr>
        <tr>
          <th></th>
          <th>
            <p-columnFilter display="menu" field="brand_created_on" type="date"></p-columnFilter>
          </th>
          <th></th>
          <th>
            <p-columnFilter display="menu" field="brand_name" type="text"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="is_deactivate" type="boolean"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="is_paid" type="boolean"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter display="menu" field="current_month_orders" type="numeric"></p-columnFilter>
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template let-expanded="expanded" let-i=index let-product pTemplate="body">
        <tr [pEditableRow]="product">
          <td class="flex justify-content-between flex-nowrap align-items-center">
            <p-tableCheckbox [value]="product"></p-tableCheckbox>
            <button (click)="getOnBoardingData(product)" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain ml-2"
                    pButton
                    pRipple type="button"></button>

          </td>
          <td>{{product.brand_created_on | date: 'dd/MM/YYYY'}}</td>
          <td>
            {{product?.brand_time}}
          </td>
          <td [routerLink]="['/client/' + product.id]">
            {{product.company}}
          </td>

          <td>
            <p-toggleButton (onChange)="toggleBrand(product.is_deactivate, product.id)"
                            [(ngModel)]="product.is_deactivate" iconPos="right" offIcon="pi pi-check" onIcon="pi pi-times"></p-toggleButton>

          </td>
          <td>
            <ng-container *ngIf="product.is_paid" >
              <button class="p-button-rounded p-button-success" (click)="patchPayment(product, false)" icon="pi pi-check" pButton type="button"></button>
            </ng-container>
            <ng-container *ngIf="!product.is_paid" >
              <button class="p-button-rounded p-button-danger" (click)="patchPayment(product, true)" icon="pi pi-times" pButton type="button"></button>
            </ng-container>
          </td>
          <td>
            <p-button  (click)="showBasicDialog(product)" icon="pi pi-chevron-down" label=""></p-button>
          </td>
          <td>{{product.riders}}</td>
          <td>{{product.active_riders}}</td>
          <td>{{product.not_active_riders}}</td>


          <td>
            <p-dropdown [options]="saleData" (onChange)="onSaleChange($event)" [placeholder]="product.sales_poc_name + ' '+ product.sales_poc_number"  optionLabel="name"
                        [showClear]="true"></p-dropdown>
          </td>


          <td>
            <p-dropdown [options]="supportData" (onChange)="onSupportChange($event)" [placeholder]="product.support_poc_name+' '+ product.support_poc_number"  optionLabel="name"
                        [showClear]="true"></p-dropdown>
          </td>
          <td class="d-flex justify-content-between flex-nowrap">
            <button pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-success mr-2"></button>

            <button (click)="showDialog(product)" class="p-button-rounded p-button-success mr-2" icon="pi pi-plus-circle" pButton
                    pRipple></button>
          </td>
        </tr>
      </ng-template>

      <ng-template let-product pTemplate="rowexpansion">
        <tr>
          <td colspan=11>
            <div class="py-3">
              <p-timeline [value]="product.logs" layout="vertical">


                <ng-template pTemplate="content" let-event>
                  <small class="text-black-alpha-90">{{event.action}}
                    <span class="text-black-alpha-90">({{event.status}})</span></small>
                  <p class="mt-0 mb-0">{{event.comment}}</p>
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                  <small class="text-black-alpha-60">{{event.date}}</small><br>
                  <small class="text-black-alpha-60">{{event.agent}}</small>
                </ng-template>
              </p-timeline>
            </div>
          </td>
        </tr>

      </ng-template>

      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{data ? data.length : 0 }} outlets.
        </div>
      </ng-template>


    </p-table>
  </div>
</div>

<p-dialog [(visible)]="display" [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    Add Status
  </ng-template>

  <form #newForm="ngForm" class="formgrid formgroup-inline">
    <div class="grid p-fluid">
      <div class="col-12">
        <h4 class="m-0">Action</h4>

        <div class="p-inputgroup">
          <p-selectButton [(ngModel)]="action" [options]="actions" name="action" (onChange)="action = $event.value" optionValue="name" optionLabel="name"
                          class="w-full"></p-selectButton>
        </div>
      </div>

      <div class="col-12">
        <h4 class="m-0">Status</h4>

        <div class="p-inputgroup">
          <p-selectButton [(ngModel)]="status" [options]="statuses" name="status" (onChange)="status = $event.value" optionValue="name" optionLabel="name"
                          class="w-full"></p-selectButton>

        </div>
      </div>
      <div class="col-12">
        <h4 class="m-0">Comment</h4>

        <div class="p-inputgroup">
          <button icon="pi pi-comment" pButton pRipple styleClass="p-button-success" type="button"></button>
          <input [(ngModel)]="comment" minlength="10" pInputText placeholder="Comment" required type="text" name="comment">
        </div>
      </div>

    </div>

  </form>


  <ng-template pTemplate="footer">
    <button (click)="submit()" [disabled]="newForm.form.invalid" class="p-button-text" label="Submit" pButton type="button"></button>
  </ng-template>
</p-dialog>


<p-dialog header="Order Count" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <p-table [value]="orderCount">
    <ng-template pTemplate="header">
      <tr>
        <th>Created</th>
        <th>Assigned</th>
        <th>Accepted</th>
        <th>Delivered</th>
        <th>Cancelled</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr style="text-align: center">
        <td>{{product.created}}</td>
        <td>{{product.assigned}}</td>
        <td>{{product.accepted}}</td>
        <td>{{product.delivered}}</td>
        <td>{{product.cancelled}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog header="Create POC" [(visible)]="openpocmodel" [style]="{width: '30vh'}" [baseZIndex]="10000" >
  <div style="display: flex; flex-direction: column; margin-bottom: 35%">
    <input [(ngModel)]="name" pInputText placeholder="Name"  type="text" name="name">&nbsp;
    <input [(ngModel)]="number"  pInputText placeholder="Mobile Number"  type="text" name="number">&nbsp;
    <p-dropdown [options]="cities" [(ngModel)]="type" placeholder="Select Type" optionLabel="name"
                [showClear]="true"></p-dropdown>
  </div>
  <ng-template pTemplate="footer">
    <button (click)="createPoc()" class="p-button-text" label="Submit" pButton type="button"></button>
  </ng-template>
</p-dialog>
