<div class="row">
  <div class="col-12">
    <h2 class="pageheader">{{"Clients List"}}</h2>
  </div>
</div>
<p-progressSpinner class="position-absolute z-3" *ngIf="loadTableCheck"></p-progressSpinner>
  <div class="row">
    <div class="col-12">
        <div class="p-fluid">
            <p-table #dt [(selection)]="outlets" [globalFilterFields]="['company']"
                     [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rows]="10" [value]="data" dataKey="id"
                     styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" class="clientList">

              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="brand_created_on">Boarding Date <p-sortIcon field="brand_created_on"></p-sortIcon></th>
                  <th>Time</th>
                  <th>Company</th>
                  <th>Status</th>
                  <th>Payment</th>
                  <th>Orders</th>
                  <th>Total Rider</th>
                  <th>Active Rider</th>
                  <th>Not Active Rider</th>
                  <th>Sale POC Name & Number</th>
                  <th>Support POC Name & Number</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <th>
                  </th>
                  <th></th>
                  <th>
                    <p-columnFilter display="menu" field="company" type="text"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter field="is_activate" type="boolean"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter field="is_paid" type="boolean"></p-columnFilter>
                  </th>
                  <th>
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template let-expanded="expanded" let-i=index let-product pTemplate="body">
                <tr [pEditableRow]="product">
                  <!--          <td class="flex justify-content-between flex-nowrap align-items-center">-->
                  <!--            <p-tableCheckbox [value]="product"></p-tableCheckbox>-->
                  <!--            <button (click)="getOnBoardingData(product)" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain ml-2"-->
                  <!--                    pButton-->
                  <!--                    pRipple type="button"></button>-->

                  <!--          </td>-->
                  <td>{{product.brand_created_on | date: 'MM/dd/YYYY'}}</td>
                  <td>
                    {{product?.brand_time}}
                  </td>
                  <td [routerLink]="['/client/' + product.id]">
                    {{product.company}}
                  </td>
                  <td [routerLink]="['/client/' + product.id]" class="text-center">
                    <ng-container *ngIf="product.is_activate" >
                      <button nbButton (click)="productActivateDialog(product, true)"
                              icon="pi pi-check" pButton type="button"></button>
                    </ng-container>
                    <ng-container *ngIf="!product.is_activate" >
                      <button nbButton (click)="productActivateDialog(product, false)"
                              icon="pi pi-times" pButton type="button"></button>
                    </ng-container>

                  </td>
                  <td class="text-center">
                    <ng-container *ngIf="product.is_paid" >
                      <button nbButton (click)="paymentDialog(product, false)"
                              icon="pi pi-check" pButton type="button"></button>
                    </ng-container>
                    <ng-container *ngIf="!product.is_paid" >
                      <button nbButton (click)="paymentDialog(product, true)"
                              icon="pi pi-times" pButton type="button"></button>
                    </ng-container>
                  </td>
                  <td class="text-center">
                    <button nbButton pButton type="button" (click)="showBasicDialog(product)" icon="pi pi-angle-down"></button>
                  </td>
                  <td>{{product.riders}}</td>
                  <td>{{product.active_riders}}</td>
                  <td>{{product.not_active_riders}}</td>
                  <td>
                    <p-dropdown [options]="saleData" (onChange)="onSaleChange($event)" [placeholder]="product.sales_poc_name +
             ' '+ product.sales_poc_number"  optionLabel="name"
                                [showClear]="true"></p-dropdown>
                  </td>
                  <td>
                    <p-dropdown [options]="supportData" (onChange)="onSupportChange($event)"
                                [placeholder]="product.support_poc_name+' '+ product.support_poc_number"  optionLabel="name"
                                [showClear]="true"></p-dropdown>
                  </td>
                  <td class="text-center">
                    <div class="d-flex">
                    <button nbButton pButton icon="pi pi-check" (click)="onRowEditSave(product)" [pTooltip]="'Save Changes'" tooltipPosition="left"></button>
                    <button nbButton pButton (click)="config(product)" icon="pi pi-file-edit" [pTooltip]="'Open Configuration'" tooltipPosition="left"></button>
                    <!--            <p-button (click)="showDialog(product)" icon="pi pi-plus-circle" pButton-->
                    <!--                    pRipple></p-button>-->
                    </div>
                  </td>
                </tr>
              </ng-template>

              <ng-template let-product pTemplate="rowexpansion">
                <tr>
                  <td colspan=11>
                    <div class="py-3">
                      <p-timeline [value]="product.logs" layout="vertical">
                        <ng-template pTemplate="content" let-event>
                          <small class="text-black-alpha-90">{{event.action}}
                            <span class="text-black-alpha-90">({{event.status}})</span></small>
                          <p class="mt-0 mb-0">{{event.comment}}</p>
                        </ng-template>
                        <ng-template pTemplate="opposite" let-event>
                          <small class="text-black-alpha-60">{{event.date}}</small><br>
                          <small class="text-black-alpha-60">{{event.agent}}</small>
                        </ng-template>
                      </p-timeline>
                    </div>
                  </td>
                </tr>

              </ng-template>

              <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                  In total there are {{data ? data.length : 0 }} outlets.
                </div>
              </ng-template>
            </p-table>
          <div class="mt-20">
            <button nbButton pButton (click)="exportExcel()" icon="pi pi-file-excel" pTooltip="XLS" tooltipPosition="top" label="Download" type="button"></button></div>
        </div>
      <!-- </p-tabPanel> -->


  </div>


<!-- Add Status Pop up -->
<p-dialog [(visible)]="display" [modal]="true" [draggable]="false" [style]="{minWidth: '20vw'}">
  <ng-template pTemplate="header">
    Add Status
  </ng-template>

  <form #newForm="ngForm" class="formgrid formgroup-inline">
    <div class="grid p-fluid">
      <div class="col-12">
        <h4 class="m-0">Action</h4>
        <div class="p-inputgroup">
          <p-selectButton [(ngModel)]="action" [options]="actions" name="action" (onChange)="action = $event.value"
                          optionValue="name" optionLabel="name"
                          class="w-full"></p-selectButton>
        </div>
      </div>

      <div class="col-12">
        <h4 class="m-0">Status</h4>
        <div class="p-inputgroup">
          <p-selectButton [(ngModel)]="status" [options]="statuses" name="status" (onChange)="status = $event.value"
                          optionValue="name" optionLabel="name"
                          class="w-full"></p-selectButton>
        </div>
      </div>
      <div class="col-12">
        <h4 class="m-0">Comment</h4>
        <div class="p-inputgroup">
          <button icon="pi pi-comment" pButton pRipple styleClass="p-button-success" type="button"></button>
          <input [(ngModel)]="comment" minlength="10" pInputText placeholder="Comment" required type="text" name="comment">
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button (click)="submit()" [disabled]="newForm.form.invalid" label="Submit" type="button"></p-button>
  </ng-template>
</p-dialog>

<!-- Order Count Pop up -->
<p-dialog header="Order Count" [(visible)]="displayBasic" [draggable]="false" [modal]="true" [style]="{minWidth: '20vw'}">
  <p-table [value]="orderCount">
    <ng-template pTemplate="header">
      <tr>
        <th>Created</th>
        <th>Assigned</th>
        <th>Accepted</th>
        <th>Delivered</th>
        <th>Cancelled</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.created}}</td>
        <td>{{product.assigned}}</td>
        <td>{{product.accepted}}</td>
        <td>{{product.delivered}}</td>
        <td>{{product.cancelled}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<!-- Create POC Pop up -->
<p-dialog header="Create POC" [(visible)]="openpocmodel" [draggable]="false" [modal]="true" [style]="{minWidth: '20vw'}">
  <div>
    <div class="mb-15"><p-dropdown [options]="cities" [(ngModel)]="type" placeholder="Select Type" class="w-100" optionLabel="name" [showClear]="true"></p-dropdown></div>
    <div class="mb-15"><input [(ngModel)]="name" pInputText placeholder="Name"  type="text" name="name"></div>
    <div><input [(ngModel)]="number"  pInputText placeholder="Mobile Number"  type="text" name="number"></div>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="openpocmodel = false; createPoc()" label="Submit"></p-button>
  </ng-template>
</p-dialog>

<!-- Create Partner Pop up -->
<p-dialog header="Create Partner" [(visible)]="openPartnerModel" [draggable]="false" [modal]="true" [style]="{minWidth: '20vw'}">
  <div>
    <form class="form" #partnerForm="ngForm">
      <div class="mb-15">
        <input [(ngModel)]="newPartnerObject.name" pInputText placeholder="Name" required type="text" name="name">
        <p *ngIf="partnerForm.form.invalid && partnerForm.form.touched" class="req">Required</p>
      </div>
      <div class="mb-15">
        <input [(ngModel)]="newPartnerObject.description" pInputText placeholder="Description" type="text" name="description">
      </div>
      <div class="mb-15">
        <input [(ngModel)]="newPartnerObject.web_hook_url" pInputText placeholder="Web Hook URL" type="text" name="web_hook_url">
      </div>
      <div class="mb-15">
        <input [(ngModel)]="newPartnerObject.outlet_web_hook_url" pInputText placeholder="Outlet Web Hook URL" type="text" name="outlet_web_hook_url">
      </div>
      <div>
        <input [(ngModel)]="newPartnerObject.other_web_hook_url" pInputText placeholder="Web Hook URL 2" type="text" name="other_web_hook_url">
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="openPartnerModel = false; createPartner()" [disabled]="partnerForm.form.invalid" label="Submit"></p-button>
  </ng-template>
</p-dialog>

<!-- Payment Pop up -->
<p-dialog header="Payment" [(visible)]="displayPatchPayment" [draggable]="false" [modal]="true" [style]="{minWidth: '20vw'}">
  <p>Are you sure to update.</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayPatchPayment=false; patchPayment( true)" label="Yes"></p-button>
    <p-button icon="pi pi-times" (click)="displayPatchPayment=false; patchPayment( false)" label="No"></p-button>
  </ng-template>
</p-dialog>

<!-- Status Pop up -->
<p-dialog header="Status" [(visible)]="displayProductActivateValue" [draggable]="false" [modal]="true" [style]="{minWidth: '20vw'}">
  <p>Are you sure to change.</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayProductActivateValue=false; toggleBrand( true)" label="Yes"></p-button>
    <p-button icon="pi pi-times" (click)="displayProductActivateValue=false; toggleBrand( false)" label="No"></p-button>
  </ng-template>
</p-dialog>
  </div>
