<p-panel header="SETTINGS">
  <button pButton pRipple type="button" class=" p-button-primary mr-2" style="float: left"
          (click)="back()" label="Go Back" [icon]="'pi pi-arrow-left'"></button>
  <br>
  <br>
  <br>
  <div class="card">
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    <p-tabView>
      <p-tabPanel header="TRIGGER POINT" rightIcon="pi pi-inbox" tooltip="TRIGGER POINT">
        <div class="mx-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col"> Set Event</th>
                <th scope="col"> Set Delay</th>
                <th scope="col"> Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <p-dropdown [options]="outletsData" (onChange)="triggerData($event)" placeholder="Set Trigger"
                                optionLabel="name" [showClear]="true"></p-dropdown>
                </th>
                <td>
                  <p-dropdown [options]="statusData" (onChange)="eventData($event)" placeholder="Set Event"
                                optionLabel="name" [showClear]="true"></p-dropdown>
                </td>
                <td>
                  <input minlength="10" [(ngModel)]="addApiData.delayData" pInputText placeholder="Set Delay"
                           required type="number" name="delay">
                </td>
                <td>
                  <button pButton pRipple type="button" class=" p-button-success mr-2" (click)="addTrigger()"
                            label="ADD" [disabled]="!addApiData.delayData || addApiData.eventId === ''
                             || addApiData.triggerName === ''"></button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="card">
            <p-table [value]="companyTrigger" [resizableColumns]="true" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr>
                  <th pResizableColumn>Name</th>
                  <th pResizableColumn>Event</th>
                  <th pResizableColumn>Delay</th>
                  <th pResizableColumn>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{product.name}}</td>
                  <td>{{product.status_name}}</td>
                  <td>{{product.delay}}</td>
                  <td><button pButton pRipple type="button" class=" p-button-danger mr-2"
                              (click)="delTrigger(product)" label="Remove"></button></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="DOC CONFIG" rightIcon="pi pi-book" tooltip="DOC CONFIG">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Verification Partner</th>
            <th scope="col"> Set Document</th>
            <th scope="col"> Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>
              <p-dropdown [options]="docConfigRef" (onChange)="setVerificationDocs()"
                          [(ngModel)]="selectedVerificationObject" placeholder="Set Verification"
                          [showClear]="true" [optionLabel]="'verification_partner'"></p-dropdown>
            </th>
            <td>
              <p-multiSelect [options]="selectedVerificationDocsRef" placeholder="Set Document" optionLabel="name"
                          [showClear]="true" optionValue="value" [(ngModel)]="selectedVerificationDocs"
                          [disabled]="selectedVerificationDocsRef.length === 0" [optionDisabled]="'disable'"></p-multiSelect>
            </td>
            <td>
              <button pButton pRipple type="button" class=" p-button-success mr-2" (click)="saveDocConfig()"
                      label="SAVE" [disabled]="selectedVerificationDocsRef.length === 0 ||
                       selectedVerificationDocs.length === 0"></button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="card">
          <p-table [value]="savedDocConfigTableView" [resizableColumns]="true" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn>Verification Partner</th>
                <th pResizableColumn>Document</th>
                <th pResizableColumn>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-config>
              <tr>
                <td>{{config.verification_partner}}</td>
                <td>{{removeUnderScore(config.doc) | titlecase}}</td>
                <td><button pButton pRipple type="button" class=" p-button-danger mr-2"
                            (click)="deleteDoc(config.doc, config.verification_partner)" label="Remove"></button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>
      <p-tabPanel header="GENERAL CONFIG" rightIcon="pi pi-file-o" tooltip="GENERAL CONFIG">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Face Recognition</th>
            <th scope="col"> Live Streaming</th>
            <th scope="col"> Default Order Form</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>
              <p-toggleButton onLabel="ON" offLabel="OFF" (onChange)="openConfirmationDialog('face_recognition', $event)"
                              [(ngModel)]="generalConfig.face_recognition.value"></p-toggleButton>
            </th>
            <td>
              <p-toggleButton onLabel="ON" offLabel="OFF" (onChange)="openConfirmationDialog('live_streaming', $event)"
                              [(ngModel)]="generalConfig.live_streaming.value"></p-toggleButton>
            </td>
            <td>
              <p-toggleButton onLabel="ON" offLabel="OFF" (onChange)="openConfirmationDialog('custom_order_form', $event)"
                              [(ngModel)]="generalConfig.custom_order_form.is_default_form"></p-toggleButton>
            </td>
          </tr>
          </tbody>
        </table>

      </p-tabPanel>
    </p-tabView>
  </div>
</p-panel>

<p-dialog header="Status" [(visible)]="displayConfirmationDialog" [style]="{width: '20vw'}" [baseZIndex]="10000">
  <p>Are you sure?</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayConfirmationDialog=false; saveConfig()" label="Yes" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="cancelSave()" styleClass="p-button-text" label="No"></p-button>
  </ng-template>
</p-dialog>
