<div class="row">
  <div class="col-12">
    <!-- <h2 class="pageheader" [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="large"> <a [routerLink]="'../../clientList'">{{"Client List >"}} {{companyName}} </a>{{"> Configuration"}}
    </h2> -->
  </div>
</div>
    <nb-tabset (changeTab)="onChangeOfTabset($event)">
      <!-- General Tab -->
      <nb-tab active="{{setActiveTab==='General'}}" [tabTitle]="translateText('General')">
          <app-general-config [shareId]="company_id" (getLoadingStatus)="loadingStatus($event)" *ngIf="setActiveTab==='General'"></app-general-config>
      </nb-tab>
      <!-- General Tab -->

      <!-- Reasons Tab -->
      <nb-tab active="{{setActiveTab==='Reasons'}}" [tabTitle]="translateText('Reasons')" class="pt-0 pl-0 pr-0">
        <app-reasons [shareId]="company_id" (getLoadingStatus)="loadingStatus($event)" *ngIf="setActiveTab==='Reasons'"></app-reasons>
      </nb-tab>
      <!-- Reasons Tab -->

      <!-- Trigger Point Tab-->
      <nb-tab active="{{setActiveTab==='Trigger Point'}}" [tabTitle]="translateText('Trigger Point')">
        <app-trigger-point [shareId]="company_id" (getLoadingStatus)="loadingStatus($event)" *ngIf="setActiveTab==='Trigger Point'" ></app-trigger-point>
      </nb-tab>
      <!-- Trigger Point Tab-->

      <!-- Doc Verification Config-->
      <nb-tab active="{{setActiveTab==='Doc Verification Config'}}" [tabTitle]="translateText('Doc Verification Config')">
        <app-doc-verification (getLoadingStatus)="loadingStatus($event)" *ngIf="setActiveTab==='Doc Verification Config'" [companyId]="companyId"></app-doc-verification>
      </nb-tab>
      <!-- Doc Verification Config-->

      <!-- Yard Config-->
      <nb-tab active="{{setActiveTab==='Yard Config'}}" id="yardConfig" [tabTitle]="translateText('Yard Config')">
        <app-yard-config (getLoadingStatus)="loadingStatus($event)" [shareId]="company_id" *ngIf="setActiveTab==='Yard Config'"></app-yard-config>
      </nb-tab>
      <!-- Yard Config -->

    </nb-tabset>
