<div [nbSpinnerMessage]="'Please wait!!'" [nbSpinnerSize]="'large'" [nbSpinner]="spinner" class="w-100"><!--[disabled]="disabled"-->
	<ng-select (change)="emitSelected($event)" [clearSearchOnAdd]="true" [closeOnSelect]="true" [items]="data$ | async"
		(open)="loadPeople()" [loading]="dataLoading" (search)="failed.emit($event.term);inputInit($event)"
		 [minTermLength]="1" [selectableGroup]="true" #selectContent [multiple]="multiple"
		(clear)="cleared.emit('all')" (remove)="onRemove.emit($event)" [typeahead]="dataInput$"
		[placeholder]="placeholder || translateText('Search Here')" appendTo="body" [(ngModel)]="selectedItems" [bindLabel]="text"
		class="w-bg">
		<ng-template let-item="item" ng-option-tmp>{{ resultFormatter(item) }}</ng-template>
	</ng-select>
</div>